body {
  background-image: url("../Images/sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#clock-wise {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: monospace;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  color: rgb(16, 1, 31);
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
}
